{% extends 'base.html' %}
{% block title %}Catálogo de Cartas{% endblock %}
{% block content %}

<h1 class="text-center mb-4">{{ titulo_pagina }}</h1>

<!-- FILTROS -->
<form method="GET" class="filter-box">

    <input type="text" name="search" placeholder="Pesquisar nome..."
           value="{{ request.GET.search }}">

    <input type="text" name="code" placeholder="Código (ex: OP11-001)"
           value="{{ request.GET.code }}">

    <select name="color">
        <option value="">Cor</option>
        {% for c in colors %}
            <option value="{{ c }}" {% if request.GET.color == c %}selected{% endif %}>
                {{ c }}
            </option>
        {% endfor %}
    </select>

    <select name="set">
        <option value="">Set</option>
        {% for s in sets %}
            <option value="{{ s.id }}" {% if request.GET.set == s.id|stringformat:"s" %}selected{% endif %}>
                {{ s.name }}
            </option>
        {% endfor %}
    </select>

    <select name="order">
        <option value="">Preço</option>
        <option value="asc"  {% if request.GET.order == "asc" %}selected{% endif %}>Crescente</option>
        <option value="desc" {% if request.GET.order == "desc" %}selected{% endif %}>Decrescente</option>
    </select>

    <button type="submit">Filtrar</button>
</form>


{% if cards %}
    <div class="cards-grid">
        {% for card in cards %}
            <div class="card-item">
                <a href="{% url 'card_detail' card.id %}">
                    {% if card.image %}
                        <img src="{{ card.image.url }}" alt="{{ card.name }}">
                    {% else %}
                        <img src="/static/loja/sem_imagem.png" alt="Sem imagem">
                    {% endif %}
                </a>

                <div class="card-name">{{ card.name }}</div>
                <div class="card-info">{{ card.card_set.name }} - {{ card.rarity }}</div>
                <div class="card-price">R$ {{ card.price|floatformat:2 }}</div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">Nenhum card encontrado no banco de dados.</p>
{% endif %}

{% endblock %}
